.list .list-content {
  padding: 0 15px 15px;
}

.content .list ol:not([type]) {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.content .list .card {
  display: flex;
}

.content .list .card + .card {
  margin-top: 10px;
}

.content .list .card-footer {
  margin-left: auto;
  border-top: none;
  border-left: 1px solid #ededed;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
}

.content .list .card-footer a {
  transition: color 0.15s ease-in;
}

.content .panel-heading {
  font-weight: 400;
  font-size: 1.5em;
}

.list-item .content {
  overflow-wrap: anywhere;
}
