.loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(256, 256, 256, 0.8);
  color: #333;
  font-size: 20px;
  display: none;
}

.loading-screen.visible {
  display: flex;
}
